<!DOCTYPE html>
<html>
<head>
    <title>Add Coffee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Add Coffee</h1>
        <form method="POST" action="/add" >
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter coffee name">
        </div>
        <div class="form-group">
            <label for="size">Size:</label>
            <select class="form-control" id="size" name="size">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select>
        </div>
        <div class="form-group">
            <label for="flavour">Flavour:</label>
            <select class="form-control" id="flavour" name="flavour">
                <option value="caramel">Caramel</option>
                <option value="vanilla">Vanilla</option>
                <option value="chocolate">Chocolate</option>
                <option value="hazelnut">Hazelnut</option>
                <option value="mocha">Mocha</option>
                <option value="irish-cream">Irish Cream</option>
                <option value="original">Original</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">price:</label>
            <input type="number" class="form-control" id="price" name="price" placeholder="Enter dietary information">
        </div>
        <div class="form-group">
            <label for="strength">Strength:</label>
            <select class="form-control" id="strength" name="strength">
                <option value="mild">Mild</option>
                <option value="medium">Medium</option>
                <option value="strong">Strong</option>
            </select>
        </div>
        <div class="form-group">
            <label for="imageurl">Image URL:</label>
            <input type="text" class="form-control" id="imageurl" name="imageurl" placeholder="Enter image URL">
        </div>
        <button type="submit" class="btn btn-primary" onclick="redirectToCoffeePage()">Create Coffee</button>

    </form>
    </div>

</body>
</html>